<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>To-Do lists</title>
        <link href="/static/materialize/css/materialize.min.css" rel="stylesheet">
        <link href="/static/base.css" rel="stylesheet">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Code+Pro:400|Roboto:400,300,400italic,500,700|Roboto+Mono">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <style>
        body {
          font-family: "Roboto",sans-serif;
        }
        </style>
    </head>

    <body>
        <header>
            <nav class="top-nav light-blue">
                <div class="container">
                <div class="nav-wrapper navbar">
                    <a class="brand-logo" href="/">Superlists</a>
                    {% if user.email %}
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li class="navbar-text">Logged in as {{ user.email }}
                        </li>
                        <li><a href="{% url 'my_lists' user.email %}">My lists</a></li>
                        <li><a id="logout_link" href="{% url 'logout' %}">Log out</a></li>
                    </ul>
                    {% else %}
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li>
                            <form method="POST" action="{% url 'send_login_email' %}">
                                <input placeholder="Enter email to log in" name="email" type="text" />
                                {% csrf_token %}
                            </form>
                        </li>
                    </ul>
                    {% endif %}
                </div>
                </div>
            </nav>
        </header>
        <main>
            {% if messages %}
            <div class="row">
                <div class="col-md-8">
                    {% for message in messages %}
                    {% if message.level_tag == 'success' %}
                        <div class="alert alert-success">{{ message }}</div>
                    {% else %}
                        <div class="alert alert-warning">{{ message }}</div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 jumbotron">
                        <div class="text-center">
                            <h1>{% block header_text %}{% endblock %}</h1>
                            {% block list_form %}
                            <form method="POST" action="{% block form_action %}{% endblock %}">
                                {{ form.text }}
                                {% csrf_token %}
                                {% if form.errors %}
                                <div class="form-group has-error">
                                    <div class="help-block">{{ form.text.errors }}</div>
                                </div>
                                {% endif %}
                            </form>
                            {% endblock %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        {% block table %}
                        {% endblock %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        {% block extra_content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </main>
        <footer class="page-footer light-blue">
            <div class="container">
            <div class="row">
                <div class="col l6 s12">
                <h5 class="white-text">Thanks, Harry!</h5>
                <p class="grey-text text-lighten-4">This site is based on the TDD exercises in <a class="grey-text text-lighten-5" href="https://www.obeythetestinggoat.com/">Obey the Testing Goat</a> By Harry J.W. Percival.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Lovingly Crafted Using</h5>
                <a class="chip" href="https://www.djangoproject.com/"><i class="material-icons close">code</i>Django</a>
                <a class="chip" href="https://www.seleniumhq.org/"><i class="material-icons close">web</i>Selenium</a>
                <a class="chip" href="http://materializecss.com/"><i class="material-icons close">format_paint</i>Materialize</a>
                <a class="chip" href="http://entrproject.org/"><i class="material-icons close">sync</i>entr(1)</a>
                </ul>
            </div>
            </div>
            </div>
            <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="https://github.com/PeppyHare/python-tdd-book">Source on GitHub</a>
            </div>
            </div>
        </footer>
        <script src="/static/jquery-3.3.1.min.js"></script>
        <script src="/static/list.js"></script>
        <script type="text/javascript" src="static/materialize/js/materialize.min.js"></script>

        <script>

$(document).ready(function () {
  window.Superlists.initialize();
});

        </script>
    </body>


</html>