<div class="container">
<div class="row">
    <div class="col l6 s12">
    <h5 class="white-text">Thanks, Harry!</h5>
    <p class="grey-text text-lighten-4">This site is based on the TDD exercises in <a class="grey-text text-lighten-5" href="https://www.obeythetestinggoat.com/">Obey the Testing Goat</a> By Harry J.W. Percival.</p>
    </div>
    <div class="col l4 offset-l2 s12">
    <h5 class="white-text">Lovingly Crafted Using</h5>
    <a class="chip" href="https://www.djangoproject.com/"><i class="material-icons close">code</i>Django</a>
    <a class="chip" href="https://www.seleniumhq.org/"><i class="material-icons close">web</i>Selenium</a>
    <a class="chip" href="http://materializecss.com/"><i class="material-icons close">format_paint</i>Materialize</a>
    <a class="chip" href="http://entrproject.org/"><i class="material-icons close">sync</i>entr(1)</a>
    </ul>
</div>
</div>
</div>
<div class="footer-copyright">
<div class="container">
© 2014 Copyright Text
<a class="grey-text text-lighten-4 right" href="https://github.com/PeppyHare/python-tdd-book">Source on GitHub</a>
</div>
</div>