{% extends 'base.html' %}

{% block header_text %}Your To-Do list{% endblock %}

{% block form_action %}{% url 'view_list' list.id %}{% endblock %}

{% block table %}
  <div class="col" id="id_list_table">
  <!-- <table id="id_list_table" class="table"> -->
    {% for item in list.item_set.all %}
    <div class="card orange lighten-3">
    	<span class="card-title">{{ forloop.counter }}</span>
    	<div class="card-content"><p>{{ item.text }}</p></div>
    </div>
      <!-- <tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr> -->
    {% endfor %}
  </table>
{% endblock %}