{% extends 'base.html' %}

{% block header_text %}Your To-Do list{% endblock %}

{% block form_action %}{% url 'view_list' list.id %}{% endblock %}

{% block table %}
  <div class="row" id="id_list_table">
    {% for item in list.item_set.all %}
    <div class="row">
    <div class="card-panel orange lighten-4">
    	<div class="card-content list-view">{{ forloop.counter }}: {{ item.text }}
    	</div>
    </div>
	<a class="btn-floating right waves-effect waves-light grey"><i class="material-icons">close</i></a>
	</div>
    {% endfor %}
  </table>
{% endblock %}