{% extends 'base.html' %}

{% block header_text %}List #{{ list.id }}{% endblock %}

{% block form_action %}{% url 'view_list' list.id %}{% endblock %}

{% block table %}
<div class="container" id="id_list_table">
    {% for item in list.item_set.all %}
    <div class="card orange lighten-4 dismissable" style="touch-action: pan-y;">
    	<div class="card-content list-view">
    		{% if item.state %}
	    	<input type="checkbox" id="item{{ item.id }}" itemid="{{ item.id }}">
	    	{% else %}
	    	<input type="checkbox" id="item{{ item.id }}" itemid="{{ item.id }}" checked>
	    	{% endif %}
	    	<label for="item{{ item.id }}">
	    		{{ forloop.counter }}: {{ item.text }}
	    	</label>
	    </div>
    </div>  
	{% endfor %}
</div>
{% endblock %}