{% extends 'base.html' %}

{% block header_text %}My Lists{% endblock %}

{% block list_form %}{% endblock %}

{% block extra_content %}
<!-- <h2>{{ owner.email }}'s lists</h2> -->
{% for list in owner.list_set.all %}
    <!-- <li><a href="{{ list.get_absolute_url }}">{{ list.name }}</a></li> -->
<a href="{{ list.get_absolute_url }}" class="card orange lighten-4 black-text" style="display:flex;">
	<div class="card-content">
		<span class="card-title">{{ list.name }}</span>
		{% for item in list.item_set.all %}
			<div class="card orange lighten-3" style="display:inline-flex; margin-right: 20px;">
				<div class="card-content list-interior">{{ item.text }}</div>
			</div>
		{% endfor %}
	</div>
</a>
{% endfor %}
{% endblock %}